@inject SoundCore.Application.Contracts.DataServices.IRoomsDataService _roomService
@inject SoundCore.Application.Contracts.DataServices.IAppointmentDataService _appointmentService
@using Domain.Entities

@page "/"




@if (Rooms != null)
{
    @foreach (var item in Rooms)
    {
        <RoomCard Room="item"></RoomCard>
    }

}



@if (Appointments != null)
{
    @foreach (var item2 in Appointments)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item2.Id</h5>
                <p class="card-text">@item2.Room.Name</p>
                <p class="card-text">@item2.Start.ToShortDateString() - @item2.Start.ToShortTimeString()</p>
                <p class="card-text">@item2.End.ToShortDateString() - @item2.End.ToShortTimeString()</p>
            </div>
        </div>
    }

}

@code{

    IEnumerable<Room> Rooms { get; set; }

    IEnumerable<Appointment> Appointments { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Rooms = await _roomService.ListAllAsync();
            Appointments = await _appointmentService.ListAllAsync();
            this.StateHasChanged();
        }

    }
}